<nav class="max-w-2xl mx-auto h-10 md:w-3/5 mt-1 grid-cols-3 justify-between  text-black text-sm">
  {% set navPages = collections.all | eleventyNavigation %}
  <ul class="mt-3 col-start-1 col-span-3 flex justify-between">
    {%- for entry in navPages %}
      <li class="ml-3 mr-3 md:ml-0 md:mr-0">
        <a href="{{ entry.url | url }}"{% if entry.url == page.url %} data-current="current item"{% endif %}>{{ entry.title }}</a>
      </li>
    {%- endfor %}
  </ul>
</nav>
