{# <nav class="grid grid-cols-12 lg:grid-cols-17 gap-x-2 mt-1.5 pt-1.5 md:mb-0.5 pb-1 md:pb-2 top-0 z-20 sticky md:static">
  <h1 class="col-span-3 lg:col-span-4">
    <a class="cursor-default">oxoy</a>
  </h1>
  <ul class="col-span-6 lg:col-span-13 text-center lg:text-left links-red:hover">
    <li class="inline-block mr-1"><a href="/" class="text-red-600 hover:text-red-700">Index</a></li>
    <li class="inline-block mr-1"><a href="/" class="text-gray-900 hover:text-red-700">Studio</a></li>
    <li class="inline-block mr-1"><a href="/" class="text-gray-900 hover:text-red-700">About</a></li>
  </ul>
</nav> #}

{# <div class="col-span-3 lg:col-span-4">
  <nav class="grid grid-cols-12 lg:grid-cols-17 gap-x-2 mt-1.5 pt-1.5 md:mb-0.5 pb-1 md:pb-2 top-0 z-20 sticky md:static">
    <div class="flex items-center justify-between w-full">
      <h1 class="flex-grow">
        <a class="cursor-default">Folder</a>
      </h1>
      <ul class="flex-grow-0 col-span-6 lg:col-span-13 flex items-center justify-center lg:justify-end text-center lg:text-left links-red:hover">
        <li class="inline-block mr-1"><a href="https://folder.studio" class="text-red-600 hover:text-red-700">Index</a></li>
        <li class="inline-block mr-1"><a href="https://folder.studio/studio" class="">Studio</a></li>
        <li class="inline-block mr-1"><a href="https://folder.studio/about" class="">About</a></li>
      </ul>
    </div>
  </nav>
</div> #}

{# <header class="grid grid-cols-12 lg:grid-cols-17 gap-x-2 mt-1.5 pt-1.5 md:mb-0.5 pb-1 md:pb-2 top-0 z-20 sticky md:static">
  <nav class="col-span-12 lg:col-span-4">
    <ul class="flex items-center justify-center lg:justify-start links-red:hover">
      <li class="mr-1">
        <a href="#" class="text-red-600">Folder</a>
      </li>
    </ul>
  </nav>
  <ul class="col-span-12 lg:col-span-13 flex items-center justify-center lg:justify-end links-red:hover">
    <li class="mr-1">
      <a href="https://folder.studio" class="text-red-600">Index</a>
    </li>
    <li class="mr-1">
      <a href="https://folder.studio/studio">Studio</a>
    </li>
    <li class="mr-1">
      <a href="https://folder.studio/about">About</a>
    </li>
    <li class="mr-1">
      <a href="#">Contact</a>
    </li>
  </ul>
</header>

<div class="md:hidden mb-2"></div>

<div class="grid md:grid-cols-2 gap-4">
  <div class="col-span-1">
    <ul class="flex items-center justify-center links-red:hover">
      <li class="mr-1">
        <a href="#">Home</a>
      </li>
    </ul>
  </div>
  <div class="col-span-1">
    <ul class="flex items-center justify-center links-red:hover">
      <li class="mr-1">
        <a href="#">Blog</a>
      </li>
      <li class="mr-1">
        <a href="#">Projects</a>
      </li>
      <li class="mr-1">
        <a href="#">Archive</a>
      </li>
    </ul>
  </div>
</div> #}

<nav class="grid grid-cols-12 md:grid-cols-17 gap-x-2 mt-1.5 pt-1.5 md:mb-0.5 pb-1 md:pb-2 top-0 z-20 sticky md:static ml-2 mr-1">
  <ul class="col-span-4">
    <li class="inline-block">
      <a class="cursor-default">Oxoy</a>
    </li>
  </ul>
  <ul class="col-span-8 flex flex-wrap justify-end md:justify-start items-center links-red:hover">
    <li class="inline-block mx-1">
      <a href="/" class="text-red-600">Index</a>
    </li>
    <li class="inline-block mx-1">
      <a href="/" class="">Studio</a>
    </li>
    <li class="inline-block mx-1">
      <a href="/" class="">About</a>
    </li>
  </ul>
</nav>
