<nav class="grid grid-cols-12 md:grid-cols-17 gap-x-2 mt-1.5 pt-1.5 md:mb-0.5 pb-1 md:pb-2 top-0 z-20 sticky md:static ml-2 mr-1">
  <ul class="col-span-4">
    <li class="inline-block">
      <a href="/" class="cursor-default">Oxoy</a>
    </li>
  </ul>
  <ul class="col-span-8 flex flex-wrap justify-end md:justify-start items-center links-red:hover">
    <li class="inline-block mx-1">
      <a href="/" class="text-red-600">Index</a>
    </li>
    <li class="inline-block mx-1">
      <a href="/studio" class="">Studio</a>
    </li>
    <li class="inline-block mx-1">
      <a href="/about" class="">About</a>
    </li>
  </ul>
</nav>
