---
layout: layouts/base.njk
section: cv
---

<div class="grid md:grid-cols-4 cv">
  <div class="w-full ml-4 mr-4 md:mr-0 md:ml-0 md:col-span-3">
    {{ layoutContent | safe }}
  </div> <div class="md:col-span-2"></div>
</div>
